@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(132deg, #fc415a, #591bc5, #212335);
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.container-fluid > .cube {
  width: 8px;
  height: 8px;
}

/* Navigation */
.nav {
  color: white;
  margin: 0 30px;
  display: flex;
  border: 4px solid black;
  background-color: black;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  color: rgb(185, 26, 185) !important;
}

.logo {
  margin-left: 10px;
  font-family: 'Sora', sans-serif;
  position: relative;
}

.logo__img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-right: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.logo__text {
  margin-top: 5px;
}

.logo h1 {
  font-size: 1rem;
  display: inline-block;
}

.hamburger-icon {
  font-size: 1rem;
  display: none;
}

.collapse a {
  font-size: 1rem;
}

.nav__links {
  margin-top: 10px;
}

.nav__link {
  display: inline-block;
  padding-left: 15px;
  margin-right: 15px;
}

.nav__link a {
  color: white;
  text-decoration: none !important;
}

.nav__link a:hover {
  color: rgb(185, 26, 185);
}

/* Header */
.header {
  background-color: white;
  border: solid black 3px;
  border-radius: 3px;
  margin: 30px auto;
  width: 80%;
}

.intro {
  display: flex;
  margin: 35px;
  width: 100%;
}

.intro__pp {
  background: linear-gradient(132deg, #fc415a, #591bc5, #212335);
  animation: Gradient 15s ease infinite;
  width: 260px;
  height: 260px;
  margin-right: 20px;
  text-align: center;
}

.intro__pp .pp {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  margin-top: 5px;
}

.intro__description {
  width: 500px;
  margin-right: 70px;
}

.intro__description h3 {
  color: #616574;
  font-size: 1.1rem;
}

.heading-education {
  text-align: center;
}

.skills {
  text-align: center;
}

.skills .heading {
  margin-bottom: 20px;
}

.my_skills .skill {
  display: inline-block;
  margin-right: 10px;
}

.d-flex {
  flex-wrap: wrap;
}

.row {
  justify-content: space-around;
  flex: 0.5;
}

.row > * {
  padding-right: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

.row > a {
  cursor: pointer;
  width: auto;
}

.row img {
  width: 500px;
  height: 300px;
}

/* Background Animation */
@keyframes cube {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(960deg) translate(-50%, -50%);
    opacity: 0;
  }
}

/* Media Queries */
@media only screen and (max-width: 550px) {
  .row img {
    width: 250px !important;
  }
}

@media only screen and (max-width: 1000px) {
  .logo img {
    display: none;
  }

  .intro {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 50px 0;
    display: flex;
  }

  .about_me {
    margin: 30px 0;
  }
}

@media only screen and (max-width: 1250px) {
  .row {
    flex-direction: column;
    flex: 1;
  }

  .row img {
    width: 400px;
  }
}

@media only screen and (max-width: 800px) {
  .hamburger-icon {
    display: inline-block;
  }

  .row h3 {
    font-size: 3.5vw !important;
  }

  .nav__links {
    display: none;
  }
}

@media only screen and (max-width: 999.99px) {
  .container-fluid {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .cube {
    position: absolute;
    top: 20vh;
    left: 5vw;
    width: 1px;
    height: 1px;
    border: solid 1px #d7d4e4;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 5s ease-in forwards infinite;
    z-index: -1;
  }

  .cube:nth-child(2) {
    animation-delay: 2s;
    left: 75vw;
    top: 50vh;
  }
  .cube:nth-child(3) {
    animation-delay: 4s;
    left: 90vw;
    top: 60vh;
  }
  .cube:nth-child(4) {
    animation-delay: 6s;
    left: 90vw;
    top: 10vh;
  }
  .cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
  }
  .cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
  }
}
